
body{
    text-decoration-color: black;
    background-color: #343a40;
}

.jumbotron{
    margin-left: 5%;
    margin-right: 5%;
}

.display-3{
    margin-left:15%;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: auto;    
    display: block;
}
.row{
    width: 100%;
}

#feet{
    margin-top: 20px;
    margin-bottom: 20px;

}

.row-intro{
    margin-bottom: 50px;  
}

footer{
    background-color: lightgray;
    margin-top: 20px;
}

.foot-font{
    margin-bottom: 0;
}

.container-fluid{
    margin-top: 50px; 
    margin-bottom: 100px; 
}

.col{
    align-self: center;
}

.col-page-content{
    margin-left: 15%;
    margin-right: 15%;
}

p{
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 35px;
}

