{% extends "base_generic.html" %}

<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
{%block content%}
    <div class="jumbotron">
        <h1 class="display-4">What have I done?</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sequi quasi tenetur facere, eum, numquam aspernatur repudiandae perferendis sapiente eos inventore deleniti, vero laboriosam excepturi reiciendis repellendus molestiae saepe dolores!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.google.com" role="button">Learn more</a>
        </p>
    </div>
{%endblock%}